.heartImg_Wrapper{
    width: 50% !important;
    
}
.cartsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen  and (max-width:992px) and (min-width:0) {

    .heartImg_Wrapper{
        width: 100% !important;
        height: 100vh;
    }

}

